*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*utilities*/
.hrt-box{
    width: 40px;
    height: 40px;
    background: white;
    text-align: center;
    line-height: 40px;
    top: 0;
    right: 0;
    position: absolute;
    font-size: 20px;
}

.sale-box.txt-box{
    display: inline-block;
}
.sale-box{
    width: 30px;
    height: 20px;
    background: red;
    color: white;
    text-align: center;
    line-height: 20px;
    left: 0px;
    bottom: 10px;
    position: absolute;
    font-size: 10px;
}
.txt-box{
    width: 80px;
    height: 20px;
    background: green;
    color: white;
    text-align: center;
    line-height: 20px;
    bottom: 10px;
    left: 40px;
    font-size: 10px;
    position: absolute;    
}

.last{
    width: 80px;
    height: 20px;
    background: green;
    color: white;
    text-align: center;
    line-height: 20px;
    bottom: 10px;
    left: 0px;
    font-size: 10px;
    position: absolute;  
}

/*container*/
.container{
    margin: 50px auto;
    width: 1000px;
   
    
}

.product{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    position: relative;
}

.product img{
    width: 100%;
}

.model1 .img1b{
    position: absolute;
    width: 100%;
}

.product:hover .img1b{
    display: block;
}

